* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 20px;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.additional-links {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    float:right;
}

.additional-links li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.bannerimage {
    position: relative;
    text-align: center;
    color: white;
}

.bannerimage img {
    opacity:.4;
}

.bannerimage h2 {
    color:white;
    padding:20px;
    position:absolute;
    bottom: 40px;
    right: 16px;
    opacity:.6;
}

.container  {
    padding-top: 20px;
    border:none;
    display: flex;
}

.container p {
    color:white;
    text-align:left;
    padding:20px;
}

.container a {
    color:white;
    text-align:left;
    text-decoration:underline;
}

.container h1 {
    color:white;
    text-align:center;
}

.col1, .col2 {
    margin: 20px;
    padding: 20px;
    margin:auto;
    margin-bottom:20px;

}

.col1 {
    width:30%;
    margin:auto;
}

.col2 {
    width:70%;
    border-left: 6px solid white;
    border-right: black;
    border-top: black;
    border-bottom:black;
}

.col2 img {
    width:30%;
    text-align:center;
    display:block; 
    float:left;
    padding:20px;
    border-radius:50%;
}

.workimages {
    width:70%;
    border-left: 6px solid white;
    border-right: black;
    border-top: black;
    border-bottom:black;
    display:flex;
    padding:20px;
}

.workcol1 img, .workcol2 img {
    display:flex;
    width:80%;
    flex-direction:column;
    padding:20px;
    text-align:center;
}

.workcol1 p, .workcol2p {
    display:flex;
    color:white;
    text-align:center;
}

.pics:hover {
    transform: scale(1.01);
    border:white 1px solid;
    padding:0px;
  }